body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

.container {
    text-align: center;
    margin-top: 30vh;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #00c6ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
